<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Documentation
         https://logback.qos.ch/manual/appenders.html
    -->

    <!-- CONSOLE -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log FILE -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <file>/var/log/contrast-finder/contrast-finder.log</file>

        <!-- daily rollover -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/contrast-finder/contrast-finder.%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>         <!-- or whenever the file size reaches 50MB -->
            </timeBasedFileNamingAndTriggeringPolicy>

            <!-- keep 10 days' worth of history capped at 450 MB total size -->
            <maxHistory>10</maxHistory>
            <totalSizeCap>450MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Change the level of messages for various packages  -->
    <logger name="org.springframework"              level="info" />
    <logger name="org.asqatasun.contrastFinder.hsv" level="info"/>

    <!-- Setting the root level of logging to INFO -->
    <root level="info">
        <appender-ref ref="FILE" />
        <!-- <appender-ref ref="CONSOLE" /> -->
    </root>
</configuration>




