<?xml version="1.0" encoding="UTF-8"?>
<!--    This file is part of Contrast Finder.
        Copyright (C) 2008-2019   Contrast-Finder.org

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU Affero General Public License as
        published by the Free Software Foundation, either version 3 of the
        License, or (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
        See the GNU Affero General Public License for more details.

        You should have received a copy of the GNU Affero General Public License
        along with this program. If not, see http://www.gnu.org/licenses/           -->

<configuration>

    <!-- Documentation
         https://logback.qos.ch/manual/appenders.html
    -->

    <!-- CONSOLE -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log FILE -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <file>/var/log/contrast-finder/contrast-finder.log</file>
        <!-- daily rollover -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/log/contrast-finder/contrast-finder.%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>     <!-- or whenever the file size reaches 50 MB -->
            <maxHistory>4</maxHistory>          <!-- keep 4 days' worth of history          -->
            <totalSizeCap>300MB</totalSizeCap>  <!-- capped at 300 MB total size             -->
        </rollingPolicy>
    </appender>

    <!-- Change the level of messages for various packages  -->
    <logger name="org.springframework"              level="info" />
    <logger name="org.asqatasun.contrastfinder.hsv" level="info"/>

    <!-- Setting the root level of logging to INFO -->
    <root level="info">
        <appender-ref ref="FILE" />
        <!-- <appender-ref ref="CONSOLE" /> -->
    </root>
</configuration>




