
# Default algorithm  ("HSV" or "Rgb")
# ---> option to override the compile default value ("HSV")
#      HSV = a range of valid colors
#      Rgb = valid colors and very close to initial color
###############################################
# default_algorithm=HSV
# default_algorithm=Rgb

# logging colors results
#       compact = log message on 1 line
#       full    = log message on several lines
#       no      = no logging     (default)
###############################################
# loggingColorsResult=compact
# loggingColorsResult=full
# loggingColorsResult=no

# environment : prod (default) or debug
###############################################
# env=debug
# env=prod

# web analytics Piwik
###############################################
# piwik_analytics_server=
# piwik_analytics_key=

# default language
###############################################
# defaultLanguage=en

# languages available in the webapp
# - comma-separated language codes (ISO 639-1: two-letter codes)
# - order will be the same in the webapp menu
###############################################
# languages=en,es,fr,pl,pt,oc,ko
